<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :game_name %>
  <%= text_input f, :game_name %>
  <%= error_tag f, :game_name %>

  <%= label f, :channel_id %>
  <%= text_input f, :channel_id %>
  <%= error_tag f, :channel_id %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
