<h1>Listing Games</h1>

<table>
  <thead>
    <tr>
      <th>Game name</th>
      <th>Channel</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for game <- @games do %>
    <tr>
      <td><%= game.game_name %></td>
      <td><%= game.channel_id %></td>

      <td>
        <%= link "Show", to: Routes.game_path(@conn, :show, game) %>
        <%= link "Edit", to: Routes.game_path(@conn, :edit, game) %>
        <%= link "Delete", to: Routes.game_path(@conn, :delete, game), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Game", to: Routes.game_path(@conn, :new) %></span>
