<h1>Show Game</h1>

<ul>

  <li>
    <strong>Game name:</strong>
    <%= @game.game_name %>
  </li>

  <li>
    <strong>Channel:</strong>
    <%= @game.channel_id %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.game_path(@conn, :edit, @game) %></span>
<span><%= link "Back", to: Routes.game_path(@conn, :index) %></span>
