<h1>Show User</h1>

<ul>

  <li>
    <strong>Player name:</strong>
    <%= @user.player_name %>
  </li>

  <li>
    <strong>Discord:</strong>
    <%= @user.discord_id %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.user_path(@conn, :edit) %></span>
<span><%= link "Delete", to: Routes.user_path(@conn, :delete), method: :delete, data: [confirm: "Are you sure?"] %></span>
